@font-face {
    font-family: "Open Sans";
    src: url("./fonts/OpenSans-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Open Sans";
    src: url("./fonts/OpenSans-Light.ttf");
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: "Open Sans";
    src: url("./fonts/OpenSans-Bold.ttf");
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: "Lilita One";
    src: url("./fonts/LilitaOne-Regular.ttf");
}
